<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Albums</title>
  <link rel="shortcut icon" href="../images/logo.jpg" type="image/png">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../images/logo.jpg" style="height:50px; margin-top:-15px;" alt=""></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/hbs">Home</a></li>
          <li class="active"><a href="/album">Album</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  
  <!-- Begin menuleft -->
  <nav class="navbar navbar-m2p sidebar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Menu-left</b></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <!-- Dashboard -->
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Register</a></li>
          </ul>
      </div>
    </div>
  </nav>
  <!-- End menuleft -->
  <!--Begin list album!-->
  <div class="container">
    <div class="page-header">
      <h1>Welcom to Albums Page</h1>
    </div>
      <div class="row">
          {{#each gallery}}
          <div class="col-md-4 col-xs-6">
            <div class="container-fluid">
              <div class="gallery img-responsive"><img src= "{{this.img}}"></img></div>
                <div class="imgcreator">
                  <p><b>Người đăng:</b> {{this.creator}}</p>
                  <p><span class="glyphicon glyphicon-eye-open"> {{this.view}}</span></p>
                </div>
            </div>
          </div>
          {{/each}}
      </div>
  </div>
  <!--End list album!-->
  <!-- Begin page content -->
  <!--<div class="container">
    
  </div>*/ !-->

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Nguyễn Đang Tích - Đặng Văn Trí (©) 2017</p>
    </div>
  </footer>


  <script src="components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  
</body>
</html>